/*Card*/
.card {
    border-radius: 0;
    border-color: #d9e0e3;
    box-shadow: 0px 1px 2px rgba(217, 224, 227, .3);
}

.card .card-img img {
    height: auto;
    width: 100%;
}

.label::before {
    content: "";
    position: absolute;
    border: 35px solid transparent;
    border-left: 35px solid #8bc34a;
    border-top: 35px solid #8bc34a;
    left: 0;
    top: 0;
    z-index: 99;
}

.label .label-icon {
    position: absolute;
    top: 12px;
    left: 15px;
    z-index: 100;
    font-size: 18px;
    color: #fff;
}

.card-product-rating .list-inline-item i {
    color: #ffa726;
    margin-left: 1px;
    font-size: 12px;
}

.card-item-title {
    color: #263238;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 15px;
}

.card .card-info .card-price {
    color: #263238;
    font-size: 20px;
    font-weight: 700;
}

.card-item-category {
    color: #8bc34a;
    font-weight: 500;
    font-size: 14px;
}

.card-author .author-name {
    color: #546e7a;
    font-weight: 500;
    font-size: 14px;
    padding-left: 12px;
    margin-left: 0;
}

.card-author .round-img {
    width: 30px;
    height: 30px;
}

.rating-count {
    color: #263238;
}

.rating-count:before {
    content: '(';
    color: #b0bec5;
}

.rating-count:after {
    content: ')';
    color: #b0bec5;
}

@media (max-width: 1199px) {
    .card-product-rating .list-inline-item i {
        margin-left: -2px;
        font-size: 11px;
    }

    .card-item-category {
        font-weight: 400;
    }

    .card-author .author-name {
        padding-left: 5px;
    }
}

@media (max-width: 575px) {
    .card-product-rating .list-inline-item i {
        margin-left: 1px;
        font-size: 12px;
    }

    .card-item-category {
        font-weight: 500;
        font-size: 14px;
    }

    .card-author .author-name {
        padding-left: 10px;
    }
}

/*Card aside-section*/
.aside-section .card {
    border: none;
    box-shadow: none;
    margin-top: 27px;
    margin-bottom: 0;
}

.aside-section .card-info {
    border: none;
    padding: 20px 0 0 0;
}

.aside-section .card-author {
    padding: 20px 0 29px;
    border-bottom: 1px solid #d9e0e3;
}

.aside-section .card-author.border-none {
    border-bottom: none;
}

.aside-section .card-item-title {
    font-size: 16px;
    padding-bottom: 10px;
}

.aside-section .card-info .card-price {
    color: #263238;
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 1199px) {
    .aside-section .card-item-title {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .aside-section .card-item-title {
        font-size: 16px;
    }
}

/*Default Card */
.card.default-card .card-info {
    padding: 30px 30px 20px;
}

.card.default-card .card-author {
    border-top: 1px solid #d9e0e3;
    padding: 20px 30px;
}

.card.default-card .card-author .rating-count {
    margin-left: 15px;
}

.card.default-card:hover {
    box-shadow: 0px 16px 20px rgba(217, 218, 218, .75);
}

.card.medium-card:hover {
    box-shadow: 0px 16px 20px rgba(217, 218, 218, .75);
}

/*Medium Card*/
.card.medium-card .card-info {
    padding: 27px 20px 16px;
}

.card.medium-card .card-author {
    border-top: 1px solid #d9e0e3;
    padding: 20px;
}

.card.medium-card .card-author .rating-count {
    margin-left: 9px;
}

.card.medium-card .card-item-title {
    font-size: 16px;
}

.all-items-container .card.medium-card {
    margin-bottom: 30px;
}

@media (max-width: 1199px) {
    .card.medium-card .card-info {
        padding: 20px 12px;
    }

    .card.medium-card .card-author {
        padding: 15px 12px;
    }

    .card.medium-card .card-author .rating-count {
        margin-left: 2px;
    }

    .card.medium-card .card-author .rating-count {
        margin-left: 9px;
    }
}

/*Row card*/
.card.row-card {
    border: none;
    display: flex;
    flex-direction: row;
}

.card.row-card .medium-card .card-img {
    flex: 3;
    position: relative;
}

.card.row-card .card-img img {
    display: block;
    height: 100%;
}

.card.row-card .card-description {
    flex: 8;
}

.card.row-card .card-info {
    padding: 30px 30px 20px;
}

.card.row-card .card-author {
    padding: 30px 30px 20px;
    border-top: 1px solid #d9e0e3;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.card .card-text-info {
    display: none;
}

.card.row-card .card-text-info {
    display: flex;
    padding: 0 30px 20px;

}

.card.row-card .card-text-info p {
    font-size: 14px;
    padding-right: 15px;
}

.card.row-card .sales-count {
    color: #aeb4bb;
    font-size: 13px;
    line-height: 15px;
}

.card.row-card .card-img {
    display: block;
    width: 240px;
}

.card.row-card .card-img img {
    height: 100%;
}

.card.row-card .card-price {
    font-size: 30px;
}

.card .comments {
    display: none;
}

.card .comments i {
    color: #8bc34a;
    font-size: 16px;
    margin: 0 17px;
}

.card .comments span {
    margin-left: 30px;
}

.card.row-card .comments {
    display: flex;
}

@media (max-width: 1199px) {
    .card.row-card .card-info {
        padding: 20px 15px;
    }

    .card.row-card .card-author {
        padding: 20px 15px;
    }

    .card.row-card .card-text-info {
        padding: 0 15px 20px;
    }

    .card .comments i {
        margin: 0 12px;
    }
}

@media (max-width: 767px) {
    .card.row-card .card-price {
        font-size: 20px;
    }

    .card .comments i {
        display: none;
    }

    .card .comments span {
        display: none;
    }
}

/*Small card*/
.card.small-card {
    border: none;
    display: flex;
    flex-direction: row;
}

.card.small-card .card-img {
    flex: 1;
    position: relative;
}

.card.small-card .card-img img {
    display: block;
    height: 100%;
    min-width: 100px;
}

.card.small-card .card-description {
    flex: 3;
}

.card.small-card .card-info {
    padding: 18px 22px 11px;

}

.card.small-card .card-item-title {
    padding-bottom: 10px;
    font-size: 14px;
}

.card.small-card .card-item-category {
    font-size: 12px;
    font-weight: 400;

}

.card.small-card .card-price {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}
