/*Dropdowns*/
.dropdown {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.dropdown-toggle {
    position: relative;
    display: block;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #f5f5f5;
    text-align: center;
}

.dropdown-toggle i {
    color: #a0a0a0;
    line-height: 34px;
}

.dropdown-toggle i:hover {
    color: #263238;
}

.header-dropdown-list li + li {
    margin-left: 16px;
}

.dropdown-menu {
    position: absolute;
    transform: translate3d(16px, 34px, 0px);
    top: 26px !important;
    will-change: transform;
    z-index: 900;
    min-width: 160px;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, .15);
    padding: 0;
}

.dropdown-item {
    min-width: 270px;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

.round-img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
}

.dropdown-item img {
    width: 100%;
    height: 100%;
}

.dropdown-item .basket-img {
    width: 73px;
    height: 57px;
}

.dropdown-item i {
    font-size: 16px;
    color: #b0bec5;
}

.dropdown-item i:hover {
    color: #ef6c00;
}

.dropdown-item .dropdown-list {
    color: #546e7a;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 20px;
}

.dropdown-item .dropdown-list p {
    font-size: 12px;
    color: #84b743;
}

.dropdown-item .dropdown-list .user-name {
    font-size: 12px;
    font-weight: 700;
    color: #263238;
}

.dropdown-item .dropdown-list .date {
    font-size: 10px;
    color: #707070;
}

.dropdown-item .dropdown-list .price {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.dropdown-item .total-price {
    font-size: 16px;
    font-weight: 700;
    color: #263238;
}

.dropdown-toggle .count {
    position: absolute;
    display: block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    z-index: 900;
    top: -7px;
    right: -6px;
    color: #fff;
    font-size: 11px;
    line-height: 19px;
}

.dropdown .count.note {
    background-color: #fcb322;
}

.dropdown .count.mail {
    background-color: #ef6c00;
}

.dropdown .count.basket {
    background-color: #95c85a;
}

.dropdown .count.basket-red {
    background-color: #e74c3c;
}

.header-dropdown-list.dropdown-profile {
    min-width: 160px;
    margin-left: 20px;
}

/*Dropdowns profile*/

.header-dropdown-list.dropdown-profile .dropdown-toggle {
    margin-left: 20px;
}

.dropdown-profile .username {
    font-weight: 500;
    font-size: 14px;
    color: #222222;
    margin-bottom: 5px;
}

.dropdown-profile .price {
    font-weight: 500;
    color: #95c85a;
}

.dropdown-profile i {
    font-size: 14px;
    color: #a0a0a0;
}

.dropdown-toggle-profile p {
    margin: 0 15px;
}

.dropdown-profile .dropdown-menu {
    padding: 20px;
    min-width: 160px;
    position: absolute;
}

.dropdown-menu .dropdown-item-profile {
    margin-bottom: 28px;
}

.dropdown-menu :last-child {
    margin-bottom: 0px;
}

.dropdown-item-profile i {
    color: #8bc34a;
    font-size: 12px;
}

.dropdown-list-profile {
    color: #546e7a;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

.dropdown-profile .range {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #263238;
}

.dropdown-toggle-profile .toggle-range {
    padding: 20px 30px;
    background-color: #fff;
    border: 1px solid #cccccc;
}

.dropdown-list-range {
    color: #263238;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.dropdown-list-range.number {
    color: #90a4ae;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-product-details .toggle-details {
    font-size: 13px;
    font-weight: 400;
    color: #70838d;
    padding: 6px 10px;
    line-height: 13px;
    background-color: #fff;
    border: 1px solid #cccccc;
}

.dropdown-product-details .toggle-details i {
    color: #8bc34a;
    margin-left: 10px;
}

.dropdown-product-details .dropdown-menu {
    top: 0 !important;
}

.dropdown-product-details .dropdown-menu-range {
    margin-top: 0;
}

@media (max-width: 991px) {
    .dropdown-menu {
        top: 27px !important;
    }
}

@media (max-width: 767px) {
    .dropdown-menu {
        top: 24px !important;
    }

    .dropdown-note .dropdown-menu,
    .dropdown-male .dropdown-menu,
    .dropdown-basket .dropdown-menu {
        left: -5px !important;
    }

    .dropdown-menu-right {
        left: 15px !important;
    }
}

@media (max-width: 479px) {
    .header-dropdown-list.dropdown-profile {
        min-width: 0;
    }

    .header-dropdown-list.dropdown-profile .round-img {
        display: none;
    }
}