.aside-section {
    width: 100%;
    background-color: #fff;
    border: solid 1px #dedede;
    padding: 25px 30px;
    margin-bottom: 30px;
}
@media (max-width: 1199px) {
    .aside-section {
        padding: 25px 20px;
    }
}
.aside-title {
    font-size: 20px;
    font-weight: 700;
    color: #263238;
    border-bottom: solid 1px #dedede;
    padding-bottom: 20px;
}
.aside-list li {
    color: #263238;
    font-size: 14px;
    padding-top: 20px;
}
.aside-list i {
    color: #8bc34a;
}
.aside-list span {
    margin-left: 10px;
}
.aside-list .number {
    color: #90a4ae;
}
.aside-section-item {
    height: 50px;
    background-color: #fff;
    padding: 15px 22px;
    border: solid 1px #d7d7d7;
}
.list-arrows .aside-section-item {
    margin: 0;
}
.aside-section-item:hover {
    border-bottom: solid 2px #8bc34a;
}
