/* list-arrows start */
.list-arrows li {
    line-height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.list-arrows li + li {
    margin-top: 17px;
}
.list-arrows li i{
    font-size: 18px;
    color: #8bc34a;
    margin-right: 16px;
}
/* list-arrows end */