/* reset start */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus {
    outline: none;
}
body{
    margin: 0;
    background-color: #fff;
    color: #707070;
    font: 400 15px/1 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
    line-height: 1;
}
p {
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: #8bc34a;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
input,
textarea,
button {
    border: none;
}
button {
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}
button:focus {
    outline: none;
}
.btn.focus, .btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
}
textarea {
    resize: vertical;
}
input[type="submit"]{
    cursor: pointer;
}
input {
    width: 100%;
}
input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

textarea:focus::-webkit-input-placeholder {color: transparent}
textarea:focus::-moz-placeholder          {color: transparent}
textarea:focus:-moz-placeholder           {color: transparent}
textarea:focus:-ms-input-placeholder      {color: transparent}

blockquote {
    margin: 0;
}
/* reset end */
.icon {
    display: inline-block;
}