.setting-personal-info form button {
    margin-top: 25px;
}

.show-aside .setting-personal-info .mobile-aside-toggle {
    position: fixed !important;
    top: 75px !important;
    z-index: 1000;
}

.show-aside .setting-personal-info .mobile-aside-toggle i {
    color: #fff;
    font-size: 20px;
}

@media (max-width: 991px) {
    .setting-personal-info .mobile-aside-toggle {
        margin-left: auto;
        position: relative;
        top: -54px;
    }

    .setting-personal-info aside {
        position: relative;
        top: 86px;
    }
}
@media (max-width: 767px) {
    .setting-personal-info .btn-lg.btn-green {
        width: 100%;
    }
}
@media (max-width: 575px) {
    .setting-personal-info .mobile-aside-toggle {
        top: -25px;
    }
}
