/* Buttons */
.btn {
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
    line-height: 1;
    text-align: center;
}

.btn.btn-default {
    font-size: 14px;
    padding: 10px 15px;
    color: #fff;
}

.btn.btn-default i {
    padding-right: 10px;
}

.btn.btn-lg {
    padding: 15px 30px;
    font-weight: 500;
    font-size: 16px;
}

.btn.btn-round {
    border-radius: 4px;
}

.btn.btn-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(204, 216, 228, .75);
            box-shadow: 2px 2px 2px rgba(204, 216, 228, .75);
}

.btn.btn-darkgreen-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(118, 174, 54, .75);
            box-shadow: 2px 2px 2px rgba(118, 174, 54, .75);
}

.btn.btn-red {
    background-color: #e74c3c;
}

.btn.btn-red:hover {
    background-color: #fff;
    border: solid 1px #e74c3c;
    color: #e74c3c
}

.btn.btn-green {
    background-color: #95c85a;
}

.btn.btn-green:hover {
    background-color: #fff;
    border: solid 1px #95c85a;
    color: #95c85a;
}

.btn.btn-white {
    background-color: #fff;
    color: #263238;
}

.btn.btn-white:hover {
    background-color: #f5f5f5;
}

.btn.btn-gray {
    background-color: #455a64;
}

.btn.btn-gray:hover {
    background-color: #fff;
    color: #455a64;
    border: solid 1px #455a64;
}

.btn.btn-blue {
    background-color: #42a5f5;
}

.btn.btn-blue:hover {
    background-color: #fff;
    color: #42a5f5;
    border: solid 1px #42a5f5;
}
.btn.btn-darcblue {
    background-color: #546e7a;
}

.btn.btn-darcblue:hover {
    background-color: #fff;
    color: #546e7a;
    border: solid 1px #546e7a;
}
.btn.btn-darckgreen {
    background-color: #76ae36;
}

.btn.btn-darckgreen:hover {
    background-color: #95c85a;
}
.btn-outline {
    background-color: rgba(255, 255, 255, .0);
    border: solid 2px #fff;
}
.btn-outline:hover {
    background-color: rgba(255, 255, 255, .1);
    border: solid 2px #fff;
}
/*Work background for file with buttons
*/
.bg-buttons-green-html {
    background-color: #8bc34a;
    padding: 30px;
    margin-bottom: 20px;
}

.bg-buttons-light-html {
    background-color: #eeeeee;
    padding: 30px;
}

.btn.login {
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    width: 72px;
    height: 32px;
    line-height: 32px;
}