/* Forms element start */
.form-group {
    margin-bottom: 0;
}

.form-group + .form-group {
    margin-top: 22px;
}

.col-form-label {
    color: #444;
}

.col-form-label.required::after {
    content: "*";
    color: #8bc34a;
    font-size: 21px;
    position: absolute;
    margin-left: 5px;
    top: -1px;
}

.form-control {
    height: 40px;
    font-size: 15px;
    color: #707070;
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    padding: 0 17px;
    line-height: 1;
}

.form-control:focus {
    color: #707070;
    background-color: #f9f9f9;
    border-color: #707070;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.jq-selectbox {
    width: 100%;
}

.jq-selectbox__select {
    height: 40px;
    font-family: 'Roboto';
    color: #707070;
    background: #f9f9f9;
    border-color: #dcdcdc;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 17px;
    line-height: 40px;
}

.jq-selectbox__select:hover {
    background: #f9f9f9;
}

.jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid #707070;
}

.jq-selectbox__trigger {
    border-left: none;
    width: 40px;
}

.jq-selectbox__trigger-arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top-color: #000;
}

.jq-selectbox__dropdown {
    border-radius: 0;
    font-family: 'Roboto';
}

.jq-selectbox li:hover {
    background-color: #8bc34a;
}

.jq-file input {
    font-size: 40px;
}

.jq-file {
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    line-height: 40px;
}

.jq-file__name {
    height: 40px;
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    font: 12px/40px 'Roboto';
    color: #707070;
    padding: 0 15px 0 105px;
    
}
.jq-file.focused .jq-file__name {
    border-color: #707070;
}

.jq-file__browse {
    left: 8px;
    right: auto;
    top: 7px;
    padding: 0 13px;
    border: 1px solid #dcdcdc;
    border-radius: 0;
    background: #FFF;
    -webkit-box-shadow: none;
            box-shadow: none;
    font: 12px/24px 'Roboto';
    color: #444;
    text-shadow: none;
}

.jq-file:hover .jq-file__browse {
    background: #FFF;
}

textarea.form-control {
    min-height: 150px;
    padding-top: 14px;
}

@media (min-width: 768px) {
    .container {
        max-width: 1140px;
    } 
}
   
/* Forms element end */