/* login start */
#loginModal .modal-dialog {
    max-width: 730px;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
}
#loginModal .modal-content {
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}
#loginModal .close {
    position: absolute;
    top: 13px;
    right: 27px;
    color: #fff;
    opacity: 1;
    text-shadow: none;
    font-size: 25px;
}
#loginModal .modal-body{
    padding: 0;
}
#loginModal .login-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
#loginModal form[name="login-form"] {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
}
#loginModal .login-form-group {
    position: relative;
}
#loginModal .login-form-group + .login-form-group {
    margin-top: 8px;
}
#loginModal .login-form-group i {
    position: absolute;
    left: 18px;
    color: #fff;
    line-height: 43px;
}


.login-form-control::-webkit-input-placeholder {color:#fff;}
.login-form-control::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.login-form-control:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.login-form-control:-ms-input-placeholder      {color:#fff;}

#loginModal .login-form-control {
    background-color: #76ae36;
    height: 43px;
    color: #fff;
    font-size: 14px;
    padding-left: 41px;
    vertical-align: bottom;
}
#loginModal .login-btn-group {
    margin-top: 19px;
    margin-bottom: 27px;
}
#loginModal .login-btn-group button {
    font-weight: 700;
    font-size: 14px;
}
#loginModal .login-btn-group a {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 10px;
    font-weight: 400;
    font-size: 18px;
}
#loginModal .lost-password {
    color: #fff;
    font-size: 18px;
}
@media (max-width: 576px) {
    #loginModal .login-btn-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    #loginModal .login-btn-group a {
        margin-left: 0;
        margin-top: 8px;
    }
}
/* login end */